body{
    background-color: #FFF0BE;
}
.dashboard-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-header p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    gap: 10px;
    margin-top: 10px;
}
/* Ajoutez cette règle pour forcer le 3ème élément (le LineChart) à prendre toute la largeur */
.dashboard-content > :nth-child(3) {
    grid-column: 1 / 3;
}
.footer{
    margin-left: 40px;
}